ale_py==0.9.0
autorom[accept-rom-license]==0.6.1
av
chex~=0.1.89
colored_traceback
einops~=0.8.1
elements>=3.19.1
google-resumable-media>=2.7.2
granular>=0.20.3
ipdb
jax[cuda12]==0.4.33
jaxtyping
ninjax>=3.5.1
numpy<2  # DMLab: <2, MineRLv1.0: <1.24
nvidia-cuda-nvcc-cu12<=12.2
optax~=0.2.4
portal>=3.5.0
scope>=0.4.4
tqdm~=4.67.1
monai>=1.4.0
robodesk~=1.0.0
matplotlib~=3.10.1
cloudpickle~=3.1.1
dm_control~=1.0.28
pillow~=11.1.0
gym~=0.26.2
setuptools~=78.1.0
matplotlib
imageio
ipython
scipy
